 /* .card{
    display:flex;
    position:relative;
    height:auto;

}

 .wrapper{
 
    display:flex;
}

.wrapper .sidebar ul {
    text-decoration: none;
    
}

.wrapper .sidebar ul li a:hover {
    text-decoration: none;
    padding: 5px;
}  */

i{
    margin-right: 10px;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
}

.main{
    max-width: auto;
}